<%= render "shared/header" %>

<div class="user__wrapper">
  <h2 class="page-name">
    <%= "#{@user.name}さんのトレード成績"%>
  </h2>
  <table class="table">
    <tbody>
      <tr>
        <th class="table__col1">日付</th>
        <th class="table__col1">時間</th>
        <th class="table__col1">通貨</th>
        <th class="table__col1">売買</th>
        <th class="table__col1">エントリー</th>
        <th class="table__col1">エグジット</th>
        <th class="table__col1">保有時間</th>
        <th class="table__col1">pip損益</th>
        <th class="table__col1">手数料</th>
        <th class="table__col1">累計損益</th>
        <th class="table__col1">勝敗</th>
      </tr>
        <%= render partial: "trades/trade", collection: @user.trades %>
    </tbody>
  </table>
</div>
<%= link_to(new_trade_path, class: 'Record-btn') do %>
  <span class='trade-btn-text'>記録する</span>
  <%= image_tag 'icon_trade.png' , size: '185x50' ,class: "trade-btn-icon" %>
<% end %>
<%= render "shared/footer" %>