<header class='top-page-header'>
  <div>
    <%= link_to "ð“ð«ðšððž ðð¨ð­ðž",root_path, class:"trade-icon" %>
  </div>
  <div class='nav'>
    <ul class='lists-right'>
      <% if user_signed_in? %>
        <li><%= link_to "#{current_user.name}ã•ã‚“ã®ãƒžã‚¤ãƒšãƒ¼ã‚¸", user_path(current_user), class: "user-name" %></li> 
        <li><%= link_to 'ãƒ­ã‚°ã‚¢ã‚¦ãƒˆ', destroy_user_session_path, method: :delete, class: "logout" %></li>
      <% else %>
        <li><%= link_to 'ãƒ­ã‚°ã‚¤ãƒ³', new_user_session_path, class: "login" %></li>
        <li><%= link_to 'æ–°è¦ç™»éŒ²', new_user_registration_path, class: "sign-up" %></li>
      <% end %>  
    </ul>
  </div>
</header>