<%= render "shared/header" %>

<div class='main'>
  <div class='post-contents'>
    <h2 class='title'>投稿一覧</h2>
    <ul class='post-lists'>
      <% @posts.each do |post| %>
        <li class='list'>
          <%= link_to post_path(post.id), method: :get do %>
            <div class='post-img-content'>
              <%= image_tag post.image, class: "post-img" %>
            </div>
            <div class='post-info'>
              <h3 class='post-name'>
                <%= post.description %>
              </h3>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<%= link_to(new_post_path, class: 'post-btn') do %>
  <span class='post-btn-text'>投稿する</span>
  <%= image_tag 'icon_camera.png' , size: '185x50' ,class: "post-btn-icon" %>
<% end %>
<%= render "shared/footer" %>