<tr>
  <td class="table__col2"><%= @trade.date %></td>
  <td class="table__col2"><%= @trade.time %></td>
  <td class="table__col2"><%= @trade.currency.name %></td>
  <td class="table__col2"><%= @trade.type.name %></td>
  <td class="table__col2"><%= @trade.entry %></td>
  <td class="table__col2"><%= @trade.exit %></td>
  <td class="table__col2"><%= @trade.holding_time.name %></td>
  <td class="table__col2"><%= @trade.pip %></td>
  <td class="table__col2"><%= @trade.fee %></td>
  <td class="table__col2"><%= @trade.profit_loss %></td>
  <td class="table__col2"><%= @trade.win_lose.name %></td>
</tr>